.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    color: brown;
    background-color: white;
    border: brown solid 4px;
    width: 1000px;
    height: 100px;
}
